@charset "UTF-8";
.custom-bg{
    background-color: #c39269; /* sets the background to a light brown colour */
    padding: 20px 0;
}
.btn-colour{
    background-color: #16731b;
    border-color: #332701;
}