/**
=================================
 header styles
=================================
**/
.nav-item {
    display: flex; /* Make the menu items flex containers */
    align-items: center; /* Align items vertically */
    border-left: 1px solid #94501a; /* Add divider between menu items */
    padding: 0 1dvw 0 1dvw; /* Add padding to each menu item */
}

.navbar {
    background-color: #009E0F;
}

.navbar .container {
    margin: 0 0 0 20%; /* move the logo to he left */
}

.header-container .d-flex img {
    width: 150px; /* adjust logo width */
}

/* Styling for active link */
.navbar-nav .nav-item.active .nav-link {
    color: #fff;
    background-color: #804210;
    border-radius: 4px;
}

/* Styling for hover state */
.navbar-nav .nav-item .nav-link:hover {
    color: #fff;
    background-color: #3ac4af;
    border-radius: 4px;
}

/**
=================================
 media query for a smaller screen
=================================
**/
@media only screen and (max-width: 991px) {
    /**
    =================================
     header styles
    =================================
    **/
    .navbar .container {
        /* make the container take up the whole page width */
        margin: 0;
        padding: 0;
    }

    .navbar {
        background-color: #ffffff; /* Make the background for the logo white */
    }

    #menubar {
        background-color: #009E0F; /* Keep the green background for the navbar */
    }

    .navbar .container:first-of-type {
        margin: 0 0 0 10%; /* Move the logo to the middle */
    }

    /* General styling for the navbar links */
    .navbar-nav .nav-item .nav-link {
        color: #000000;
        font-size: 16px;
        padding: 10px 15px;
        text-decoration: none;
        transition: color 0.3s ease, background-color 0.3s ease;
        display: flex;
        align-items: center;
    }

    /* Flex alignment for icons and text */
    .navbar-nav .nav-item .bi,
    .navbar-nav .nav-item img {
        font-size: 18px;
        margin-right: 8px;
    }

    /* Special styling for images */
    .navbar-nav .nav-item img {
        height: 25px;
        width: 25px;
        margin-right: 8px;
    }

    /* Margin for text beside icons */
    .navbar-nav .nav-item .nav-link span {
        margin-left: 10px;
    }

    /* Fix the navbar at the top of the page */
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        height: 1px; /* Ensure this matches the padding-top value in the body */
    }

    /* Add padding to the top of the body to prevent content from being hidden under the navbar */
    body {
        padding-top: 190px; /* Adjust this value based on the height of your navbar */
    }
}