@charset "UTF-8";

/** Footer styles **/
.bg-footerColour{
    background-color: #c39269; /* sets the background to a light brown colour */
    padding: 20px 0;
}

.text-italic{
    font-style: italic;
}

.contactInfo{
    line-height: 1.5;
}

.contactInfo .contactLabel .contactContent{
    display: inline-block;
}

#scpNameFooter{
    font-size: xx-large;
}




@media (max-width: 767px){

    .contactInfo .contactContent{
        display: block;
    }

    .contactContent{
        padding-left: 10px;
    }
}