@charset "UTF-8";
.custom-bg{
    background-color: #c39269; /* sets the background to a light brown colour */
    padding: 20px 0;
}
.btn-colour{
    background-color: #16731b;
    border-color: #332701;
}

.text-italic{
    font-style: italic;
}

.contactInfo{
    line-height: 1.5;
}

.contactInfo .contactLabel .contactContent{
    display: inline-block;
}

#donateBtn{
    font-weight: bold;
}

#scpLogoName{
    font-size: xx-large;
}

a{
    text-decoration: none;
    color: #0056b3;
}

a:hover{
    text-decoration: underline;
}

@media (max-width: 767px){
    p{
        font-size: 18px;
    }

    .contactInfo .contactContent{
        display: block;
    }

    .contactContent{
        padding-left: 10px;
    }
}